# Build output
dist
*.tsbuildinfo

# Dependencies
node_modules

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Logs & cache
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.cache

# Raw source videos (not used in production build)
/testimonials/
